# Prerequisites
*.d

# logs
*.log

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

#gitignores
Coordinador/.gitignore
shared-library/.gitignore
Instancias/.gitignore
ESI/.gitignore
planificador/.gitignore

ESI/Debug/.gitignore
Coordinador/Debug/.gitignore
shared-library/Debug/.gitignore
planificador/Debug/.gitignore
Instancias/Debug/.gitignore

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
Coordinador
Instancia
planificador
ESI

# Configs
Instancias/Debug/alesaurio.config

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.metadata/
